@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --branco:rgba(255, 255, 255, 1);
    --cor-de-fundo:rgba(71, 92, 145, 0.49);
    --cor-laranja:#FFB654;
    --verde:#75FF64;
    --verde-claro:#02FFD9;
    --verde-limao:#7DFFAB;
    --botao-inativo:#FF6C54;
    --botao-inativo:#71AA91;
    --botao-ativo:#FFF084;
}
body{
    background-color: var(--preto);
    color: var(--verde);
    font-family: 'Chakra Pech', 'Fredoka';
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(--verde-limao);
}
.botao{
    font-family: "Chakra Peath", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display: block;
}
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}
.abas-textos{
    background-color: var(--cor-de-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
@media screen and (min-width: 768px) {
.botoes{
    display: flex;
}
.botao:first-child{
    border-radius: 40px 0 0 0;
}
.botao:last-child{
    border-radius: 0 40px 0 0;
}
}
